@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap";

.container-fluid {
	background-color:#242424;
	color: white;
	font-family: Poppins, 'PT Serif', 'Times New Roman', Times, serif, sans-serif;
}

header {
	position: relative;
	display: block;
	margin: none;
	padding: none;
}

#title {
	position: relative;
	display: block;
	justify-content: center;
	text-align: center;
	font-weight: bold;
	font-size: 3.5rem;
	margin: none;
}

ul {
	text-align: center;
	justify-content: center;
    list-style-type: none;
    margin: none;
    padding: none;
    overflow: hidden;
}

li {
	position: float;
	display: block;
	text-align: center;
    float: left;
    border-right: 1px solid white;
    cursor: pointer;
    margin-bottom: none;
}

.tr-sh {
    position: relative;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin: none;
    text-decoration: none;
    font-size: 1.2rem;
}

li:last-child {
    border-right: none;
}

.tr-sh:hover {
    color: #e50000;
    font-weight: bold;
}

section {
	display: block;
	margin-left: 3rem;
	margin-right: 3rem;
	margin-bottom: 8rem;
	position: relative;
}

section > img {
	position: relative;
	display: inline-block;
	margin-top: -17rem;
	width: 30rem;
}

#indi {
	height: 23rem;
}

#commi {
	height: 25rem;
}

#aztec {
	height: 27rem;
}

section > h1 {
	font-size: 2rem;
	position: relative;
	display: block;
	justify-content: left;
	font-weight: bold;
	color: #e50000;
}

section p {
	position: relative;
	font-size: 13px;
}

.section-1, .section-3 {
	margin-top: none;
	position: relative;
	text-align: right;
}

.section-2, .section-4 {
	position: relative;
	text-align: left;
	margin-right: none;
}

.section-1 > p, .section-3 > p {
	margin-top: none;
	margin-left: 40rem;
}

.section-2 > p {
	margin-right: 40rem;
}

.section-4 > p {
	margin-left: none;
	margin-right: 30rem;
	font-size: .5rem;
}

.section-1 > img, .section-3 > img {
	margin-right: 60rem;
}

.section-2 > img, .section-4 > img {
	margin-left: 50rem;
}

.section-1 > h1 {
	transform: rotate(90deg);
	left: 41rem;
	margin-bottom: 29rem;
}

.section-2 > h1 {
	transform: rotate(-90deg);
	right: 41rem;
	bottom: 27rem;
}

.section-3 > h1 {
	transform: rotate(90deg);
	left: 41rem;
	bottom: 26rem;
}

.section-4 > h1 {
	font-size: 1rem;
	bottom: 1rem;
}

.waves {
    position: relative;
    width: 100%;
    height: 18vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}

.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}


@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% {
        transform: translate3d(85px,0,0);
    }
}
